body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
.navbar{
min-height: 70px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 24px;
}

.nav-menu{  display: flex;
justify-content: space-between;
align-items: center;
gap: 60px;
}

.nav-branding{
    font-size: 2rem;
}

.nav-link:hover{
    color: dodgerblue;
}

.hero {
    background-image: url('background.jpg');
    background-size: cover;
    color: black;
    text-align: center;
    padding: 100px 0;
}

.services {
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px 0;
}

.about {
    text-align: center;
    padding: 50px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contact {
    text-align: left;
}
.contact1 {
    margin-left: 650px;
    margin-top: 54px;
    margin-bottom: 30px;
  }
  .contact2 {
    margin-left: 580px;
  }

.lid {
    text-align: center;
}
footer1 {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -1px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width:768px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
        }
        .hamburger.active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);    
        }
        .hamburger.active .bar:nth-child(3){
            transform: translate(-8px) rotate(-45deg);

        }
}
  



    